<!DOCTYPE html>
<html>
<head>
  <title>Todo List</title>
</head>
<body>
  <div class="app" ng-app="todoApp">
    <h2>To-Do List in Angular</h2>

    <div ng-controller="todosCtrl">

      <form ng-submit="addTask(newTask)">
        <h4>Add a new todo</h4>
        <input type="text" ng-model="newTask">
        <button type="submit">Add Task</button>
      </form>

      <ul>
        <li ng-repeat="todo in todos">
          <input type="checkbox" ng-checked="todo.isComplete">{{todo.text}}
        </li>
      </ul>

    </div>

  </div>

  <script src="bower_components/angular/angular.min.js"></script>
  <script src="app.js"></script>

</body>
</html>